/*Fonts Used*/

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}



/* HTML5 display-role reset for older browsers */



article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}

ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,

q:before, q:after {content: '';content: none;}

table {border-collapse: collapse;border-spacing: 0;}

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

input, textarea, select{-webkit-appearance: none;}

mark {background-color: transparent;}

/* end reset */



/*preset*/

body{font-size: 20px; line-height: 33px; font-family: 'Maven Pro', sans-serif; color:#333333;position:relative;}

body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}

a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}

img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}

textarea { resize:vertical; }

iframe{ border: none; width: 100%;}

ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }

strong , b{ font-weight: bold;}

em, i{font-style: italic;}

input[type="submit"]{cursor: pointer;}

a[href^="tel:"]{color: inherit!important; text-decoration: none;}

#wpadminbar {position: fixed !important;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }

.clearfix {clear: both; overflow: hidden;}

.comp{color:#9A9A9A; font-weight:bold;}

.upcoming{color:red; font-style:italic; font-weight:bold;}

.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}

.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 5px; -moz-column-gap: 5px;  column-gap: 5px;}

.col2 li, .col3 li{display: inline-block; width: 100%;}

.main_phone {font-weight: bold;}

.back_top{display:none;background:#980a00;position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer; border-top: 2px solid #fff;}

.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}

.back_top:hover{opacity:.7}





/*Heading for SEO*/

.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}



/*Thumbnail Images*/

.thumb_left_dd, .thumb_left_dr{  float:left; margin:5px 20px 20px 0;}

.thumb_right_dd, .thumb_right_dr{ float:right; margin:5px 0 20px 20px;}

.thumb_center_dd, .thumb_center_dr{ display: block; margin: 20px auto;}



.t-1line{top:81px !important;}

.t-2line{top:70px !important;}

.t-3line{top:57px !important;}

.t-4line{top:41px !important;}

/* Text Alignment */

.text_left, .text_left p{text-align: left;}

.text_right, .text_right p{text-align: right;}

.text_center,.text_center p{text-align: center; display: block;}



.mt-20{margin-top: 20px;}

.fz-30px{font-size: 30px;}

/* Forms Presets */

::-webkit-input-placeholder {opacity: 1; color: inherit;}

::-moz-placeholder {opacity: 1; color: inherit;}

:-ms-input-placeholder {opacity: 1; color: inherit;}

:-moz-placeholder {opacity: 1; color: inherit;}



/*end preset*/



.fixedholder{position: fixed !important; top: 0!important; left: 0!important; right: 0!important; }

.wrapper{ width:100%; max-width:1375px; margin:0 auto; position:relative;}



/*header*/

header { padding: 20p 25px 0; position: relative; background: #fff; }

.header_holder{position: absolute; left: 0; right: 0; z-index: 15;}

.header_main{position: relative; min-height: 130px;}

.header_main::before{content: url(images/hdr-logo-bg.png);position: absolute;left: -273px; top: 0;}

.main_logo{float: left; position: relative;top: 38px; z-index: 11;}

.main_logo img{width: 300px;}

.header_info{float: right; text-align: right;position: relative; z-index: 11;padding-top: 32px;}



.hdr_num{ position: relative; padding-left: 68px; line-height: 20px; text-align: left;display: inline-block; vertical-align: middle;}

.hdr_num h2{font-size: 16px; color: #4d4d4d;}

.hdr_num mark{ font-family: 'Urbanist', sans-serif;font-size: 21px;font-weight: bold; color: #b8190e;}




.hdr_num::before { content: url(images/hdr-icon.png); position: absolute; left: 0;  top:5px; }



.social_media{display: inline-block; vertical-align: middle;margin: 0 70px 0 106px;}

.social_media h2{font-size: 17px; color: #4d4d4d;line-height: 21px;text-align: left;margin-right: 22px; display: inline-block; vertical-align: middle;}

.social_media h2 span{display: block;}

.social_media ul{display: inline-block; vertical-align: middle;}

.social_media ul li{display: inline-block; vertical-align: top;}

.social_media ul li a figure{transition: transform 0.4s ease-in;}

.social_media ul li a:hover figure{transform: scale(0.7);}

.social_media  img{width: 37px;}



.hdr_a{display: inline-block; vertical-align: middle; width: 228px; line-height: 66px; font-family: 'Urbanist', sans-serif; font-size: 20.5px; text-align: left; padding-left: 41px; color: #fff; background: url(images/arrow1.png) no-repeat 92% center,linear-gradient(0deg, #DA291C -21%, #980A00 91%); border-radius: 34px/33px; margin-right: -6px;}

.hdr_a:hover{background: url(images/arrow1.png) no-repeat 92% center,#1c1c1c;}

/*end header*/



/*nav*/

#nav_area { position: fixed; z-index: 999; width: 100%; }

.page_nav {background: #1c1c1c; text-align: center; position: relative; z-index: 10; padding: 0 25px;}

.page_nav ul{}

.page_nav ul li{display:inline-block; position:relative; margin:0 82px; text-align: center;}

.page_nav ul li:first-child{margin-left:0;}

.page_nav ul li:last-child{margin-right:0;}

.page_nav ul li:after{content: ""; width: 6px; background: #555555; height: 6px; border-radius: 50%; position:absolute; top:50%; transform: translateY(-50%); right:-127px; }

.page_nav ul li:last-child:after{display: none; }

.page_nav ul li a{display:block; font-size: 20px; color:#fff; line-height: 50px;}

.page_nav ul li a small{display: block; }

.page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a { text-decoration: underline;}

.page_nav ul li a:hover small, .page_nav ul li.current_page_item a small{background: none; color: inherit;} 



/*Sub Menu*/

.page_nav ul ul li:after,.page_nav ul ul ul li:after,.page_nav ul ul ul li:after, .page_nav ul ul li:before,.page_nav ul ul ul li:before,.page_nav ul ul ul li:before{display: none!important;}

.page_nav ul li:hover > ul { display: block; visibility: visible; }

.page_nav ul ul {display:none; margin:0; padding:0; position:absolute; top:100%!important; left:0; z-index:999;background: #333; padding: 0; z-index: 999;}

.page_nav ul ul li a:hover, .page_nav ul ul li a:active, .page_nav ul ul li.current_page_item > a{background: #fff; color: #000; text-decoration: none;}

.page_nav ul ul li a {  width: 150px; margin: auto; height: auto; display: block; padding: 15px 10px!important;  line-height: 100%;text-align: left;}

.page_nav ul ul ul {left:100%; top: 0; background: #000; padding: 0; z-index: 999;}

.page_nav ul ul li{display: block; width: 100%; margin: 0;}

.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: red;text-align: center;}



/* Drop down icon */

.fa{display:block; margin-top: -3px;}

.fa:before{position: absolute;}



/* Navigation bar icon */

.nav_toggle_button{display:none; text-align:left;position:relative;}

.nav_toggle_button.active {opacity:1;}

.nav_toggle_button i{cursor: pointer;}



/*Burger Color*/

.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);text-align: center;}

.nav_toggle_button .hamburger{}

.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#fff;}

.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:14px;color:#fff;display:block; text-align:center; margin-top: -13px;}



/* Default Responsive Style for Toggle Swipe Right */

.menu_slide_right {display: none;}



/*Responsive burger and color*/

.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#fff;}

.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 10px;transform: translateY(-50%);}

.menu_slide_right small{text-transform:uppercase;color:#fff;font-weight:bold;font-size:14px;display:block;text-align:center; margin-top: -13px;}

/*end nav*/



/*banner*/

#banner{padding: 0 25px; position: relative;}

.bnr_main{position: relative;}

.slider{position: relative; width: 1920px; height: 750px; left: 50%; transform: translateX(-50%);}

.slider::before{content: url(images/bnr-bdr.png);position: absolute;left: 0;right: 0;top: 0;z-index: 2; text-align: center;}

.rslides{display: none;}

.bnr_info1{bottom: 82px; left: 0; width: 379px; position: absolute; text-align: left; z-index: 12;animation-duration: 1591ms!important;}

.bnr_info2{bottom: 82px; right: 0; width: 342px; position: absolute; text-align: right; z-index: 12;animation-duration: 1591ms!important;}



.bnr_info1 h2,.bnr_info2 h2{font-family: 'Urbanist', sans-serif;font-size: 32.5px;color: #fff;font-weight: bold; line-height: 54px;min-height: 184px; margin-top: 11px;}

.bnr_info1 h2 span,.bnr_info2 h2 span{display: block;font-size: 52px; line-height: 60px; margin-top: 10px;}



.bnr_info1 a,.bnr_info2 a{display: inline-block; vertical-align: middle; width: 228px; line-height: 66px; font-family: 'Urbanist', sans-serif; font-size: 20px; text-align: left; padding-left: 41px; color: #fff;margin: 22px 0 0; background: url(images/arrow1.png) no-repeat 92% center,linear-gradient(0deg, #DA291C -21%, #980A00 91%); border-radius: 34px/33px;}

.bnr_info1 a:hover,.bnr_info2 a:hover{background: url(images/arrow1.png) no-repeat 92% center,#1c1c1c;}





/*end banner*/



/*middle*/

#middle{background: #fff;padding: 0 25px; text-align: center; position: relative;}

.middle_main{padding: 94px 0 90px; position: relative; min-height: 737px;}





/* #navtabs_container{}

#navtabs_container li:first-child{margin-left:0;}

#navtabs_container li:last-child{margin-right:0;}

#navtabs_container li{position: relative; font-family: 'Urbanist', sans-serif;font-size: 25px;line-height: 100%;display: inline-block; vertical-align: top;margin: 0 80px;}

#navtabs_container li:after{content: "";width: 2px;background: #e7e7e7;height: 30px;position: absolute;top: 50%;transform: translateY(-50%); right: -84px;}

#navtabs_container li:last-child:after{display:none;}

#navtabs_container li:nth-child(2){color: #bf1d11;}

#navtabs_container li:nth-child(2)::before{content: "";width: 11px;background: #bf1d11;height: 11px;border-radius: 50%; position: absolute;bottom: -23px; right: 0;left: 0;margin: auto;} */





#navtabs_container{padding: 1em 0;text-align:center;width: 100%;display:flex;justify-content: center;column-gap: 25px;margin: 50px auto 0;}

#navtabs_container li{position: relative; display: inline-block; vertical-align: top;margin: 0 80px;}

#navtabs_container li a{display: block;font-family: 'Urbanist', sans-serif;color: #333333; font-size: 27px;line-height: 100%;}

#navtabs_container li a.active,#navtabs_container li a:hover{color: #bf1d11;} 

#navtabs_container li a.active:before{content: "";width: 11px;background: #bf1d11;height: 11px;border-radius: 50%; position: absolute;bottom: -23px; right: 0;left: 0;margin: auto;} 

#navtabs_container li:after{content: "";width: 2px;background: #e7e7e7;height: 30px;position: absolute;top: 50%;transform: translateY(-50%); right: -84px;}

#navtabs_container li:last-child:after{display:none;}



.items-con{justify-content: center;display: flex;flex-wrap:wrap;counter-reset: my-sec-counter;row-gap: 33px;column-gap: 33px;margin: 31px auto 0;}

.item{width: 31.7%;flex-direction:row;justify-content:center;align-items: center;position: relative;-webkit-transition: all .3s linear;transition: all .3s linear;}

/* .item::after{counter-increment: my-sec-counter; content: counter(my-sec-counter);margin-left: .5em;} */



.middle_main section.item,.middle_main section.active.hide { display: none; }

.middle_main section.active.item { display: block; }



.item.show{display: flex !important;}

.item.hide{display:none !important;}



.mid_holder{position: relative; counter-reset: number;display: flex; justify-content: center; flex-wrap: wrap;column-gap: 40px; row-gap: 40px;padding-top: 72px;}

.middle_main section:first-child{margin-left:0;}

.middle_main section:last-child{margin-right:0;}

.middle_main section{position: relative; background: #fff;border: 1px solid #EDEDED; border-radius: 14px; display: inline-block; vertical-align: top; width: 633px; min-height: 198px; height: auto; text-align: left; padding: 64px 40px 40px 177px;}

.middle_main section .mid_cont{}

.middle_main section h2{font-family: 'Urbanist', sans-serif; font-size: 18px;font-weight: bold;line-height: 100%;position: absolute;left: 155px; top: 50% !important; transform: translateY(-50%);}

.middle_main section h2 span{display: block;font-size: 19px;line-height: 100%;color: #bf1d11;}

.middle_main section h2 small{display: block;}

.middle_main section h2 span small{display: block;}

.middle_main section p{font-size: 17px;color: #4d4d4d;padding: 0 0 0 167px;line-height: 20px;}

.middle_main section a{color: #4d4d4d;text-decoration: underline;display: block;}

.middle_main section a:hover{text-decoration: none;color: #bf1d11;}



.middle_main section::before { position: absolute; left: 55px; top: 50%;transform: translateY(-50%); counter-increment: number; content: "0" counter(number); font-size: 25px; text-align: center; line-height: 84px; color: #fff; font-weight: bold; font-family: 'Urbanist', sans-serif; width: 84px; height: 84px; background: #e2e2e2; border-radius: 50%; }

/*end middle*/



/*main*/

#main_area{padding: 0 25px; background: #bf1d11; position: relative; min-height: 750px;}

#main_area::before{content: ''; background: url(images/main-bg.png) no-repeat center/cover; right: 0; top: 0; z-index: 1; position: absolute; width: 1298px; height: 100%;}

.main_holder{float: right; width: calc(100% - 800px); position: relative; padding: 227px 0 109px;z-index: 5;}

main{max-width: 100%; text-align: right;}

main .h1_title{font-size: 20px; line-height: 100%; text-transform: uppercase; margin-bottom:28px;color: #fff;}

main .h1_title span{font-size: 50px;font-family: 'Urbanist', sans-serif;text-transform: none; font-weight: bold;margin-top: 14px;line-height: 100%; display: block;}

main .h1_title span small{display: block;margin-top: 10px; line-height: 100%;}

main .h1_title .comp{color: inherit; font-weight: inherit;}

main p{margin-bottom:15px;color: #fff;}

main ol{padding-left: 35px; margin-bottom: 30px;}

main ul li{position: relative;}

main .bullet {padding:0;margin-bottom: 30px;}

main .bullet li{padding-left: 25px;margin-bottom: 8px}

main .bullet li:before{position: absolute; content: ""; top: 12px; left: 0; width: 10px; height: 10px; background: #bf1d11; border-radius: 50%; }

main .bullet li ul{padding-left: 30px}

main a{font-weight: bold; color: #000;text-decoration: none;}

main a:hover{text-decoration: underline;}

main h3{font-size: 24px; line-height: 100%; font-weight: bold; margin: 0 0 10px; color: #000;}

/*end main*/



/*sidebar*/

.main_image{width: 1298px; height: 750px; position: absolute;left: -273px;top: 0; overflow: hidden; max-width: 100%;}

.main_image img{max-width: initial; position: relative; left: 50%; transform: translateX(-50%);}



.main_side_holder{position: absolute; top: 24px;left: 129px;z-index: 5;}

.main_side_holder section{position: relative; background: #fff; display: block; vertical-align: top; margin: 0 0 32px 388px; width: 439px;border-radius: 13px; min-height: 189px; height: auto; text-align: left; padding: 100px 130px 20px 80px;box-shadow: 19px 21px 37px rgb(0,0,0,0.04); animation-duration: 2318ms!important;}

.main_side_holder section h2{font-family: 'Urbanist', sans-serif;font-size: 31px;line-height: 100%;}

.main_side_holder section p{font-size: 18px;line-height: 21px;margin: 8px 0 0;}

.main_side_holder section a{display: block; width: 35px; height: 34px; background: url(images/arrow2.png) no-repeat center/cover;position: absolute;right: 80px; bottom: 51px;}

.main_side_holder section a:hover{background: url(images/arrow2-hvr.png) no-repeat center/cover;}



.main_side_holder section:nth-child(2){ margin: 0 0 32px 194px;}

.main_side_holder section:nth-child(3){margin:0;}



.main_side_holder section::before { content: url(images/main-icon1.png); position: absolute; left: 79px; top: 36px;}

.main_side_holder section:nth-child(2):before { content: url(images/main-icon2.png); }

.main_side_holder section:nth-child(3):before { content: url(images/main-icon3.png); }





/*end sidebar*/



/*bottom*/

#bottom1{background: #f3f3f3; padding: 0 25px;position: relative;}

.btm1_main{padding: 203px 0 128px;text-align: center; position: relative; min-height: 750px;}

.btm1_main::before{content: ''; background: url(images/btm1-bdr.png) no-repeat center/cover; left: -274px; top: 0; z-index: 1; position: absolute; width: 1299px; height: 100%;}



.btm1_info{text-align: left;max-width: 100%; width: 472px;position: relative;z-index: 2;}

.btm1_info h2{position: relative; font-size: 20px;text-transform: uppercase;line-height: 100%;}

.btm1_info h2 span{display: block;font-family: 'Urbanist', sans-serif;font-size: 50px;font-weight: bold;margin-top: 14px;text-transform: none; line-height: 100%;}

.btm1_info h2 span small{display: block;line-height: 100%;margin-top: 5px;}

.btm1_info p{font-size: 17px;color: #4d4d4d;line-height: 21px;margin: 78px 0 55px;}

.btm1_info a{display: inline-block; vertical-align: middle; width: 228px; line-height: 66px; font-family: 'Urbanist', sans-serif; font-size: 19px; text-align: left; padding-left: 41px; color: #fff; background: url(images/arrow1.png) no-repeat 92% center,linear-gradient(0deg, #DA291C -21%, #980A00 91%); border-radius: 34px/33px;}

.btm1_info a:hover{background: url(images/arrow1.png) no-repeat 92% center,#1c1c1c;}



.btm1_info h2:after{content: "";width: 83px;background: #c3c3c3;height: 4px;position: absolute;bottom: -38px; left: 0; border-radius: 15px;}





.btm1_image{width: 1298px; height: 750px; position: absolute;right: -272px;top: 0; overflow: hidden; max-width: 100%;}

.btm1_image img{max-width: initial; position: relative; left: 50%; transform: translateX(-50%);}





.btm1_box1{position: absolute; right: auto;left: 823px; bottom: 0;max-width: 100%; width: 562px;min-height: 230px;padding: 62px 135px 25px 124px;background: url(images/btm1-box-bg.png) no-repeat center/cover;text-align: left;}

.btm1_box1 h2{position: relative; font-family: 'Urbanist', sans-serif;font-size: 20px;color: #fff;font-weight: bold; line-height: 100%;}

.btm1_box1 p{color: #fff;font-size: 18px;margin: 27px 0 0 45px; line-height: 31px;}

.btm1_box1 a{display: block;width: 43px; height: 42px; background: url(images/arrow3.png) no-repeat center/cover;position: absolute; right: 212px; top: 52px;}

.btm1_box1 a:hover{background: url(images/arrow3-hvr.png) no-repeat center/cover;}



.btm1_box1 h2:after{content: "";width: 50px;background: #cc534a;height: 1px;position: absolute;bottom: -19px; left: 25px; border-radius: 15px;}





#bottom2 { background: #fff; padding: 0px 25px; position: relative; top: 20px; }

.btm2_main { text-align: center; position: relative; margin-top: 0; }



.btm2_holder{}

.btm2_holder h2{font-family: 'Urbanist', sans-serif;font-size: 62px;font-weight: bold;line-height: 100%; margin-top: 40px;}



.btm2_drop {margin:53px auto 0;max-width: 100%; width: 801px; text-align: left;}

.btm2_drop h6 { padding: 10px 0 10px 35px; font-family: 'Urbanist', sans-serif; background: #fff; color: #333333; font-size: 20px; cursor: pointer; position: relative; }
.btm2_drop div { display: none; font-size: 20px; background: #fff; color: #333333; padding: 0 10px 10px 63px; border-bottom: 3px solid #f1f1f1; position: relative; z-index: 2; }

.btm2_drop h6:before{content:"+";width:22px;height:22px;color:#939393;font-size: 39px;border-radius:10px;display:inline-block;vertical-align:middle;text-align:center;line-height:30px;position:absolute;top:42%;left:0;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);}

.btm2_drop .sign:before{content:"-"!important;line-height:25px;font-size: 39px;}



.btm2_drop h6::after{content: '';border-bottom:3px solid #f1f1f1;position: absolute;left: 0; right: 0; bottom: -3px; z-index: 1;position: absolute; z-index: 2;}



.btm2_drop div:last-child{border: 0;}



.btm2_info{position: relative; width: 100%; min-height: 143px; background: linear-gradient(0deg, #DA291C -21%, #980A00 91%);border-radius: 15px;padding: 49px 30px; margin: 91px 0 0;}

.btm2_info ul{}

.btm2_info ul:first-child{margin-left:0;}

.btm2_info ul:last-child{margin-right:0;}

.btm2_info ul li{display: inline-block; vertical-align: middle;font-size: 32px;margin: 0 36px;font-family: 'Urbanist', sans-serif;color: #fff;font-weight: bold;}



.btm2_info::before{content: '';width: 100%; height: 5px;background: #fff;left: 0;right: 0;top: 0;}

.btm2_info ul li:nth-child(even) { font-weight: normal;font-size: 40px; }

#bottom3 { background: #1c1c1c; padding: 0 25px; position: relative; display: flex; flex-direction: column; height: 100%; justify-content: center; }

.btm3_main{text-align: center; padding: 101px  0; position: relative; min-height: 295px;}


.bottom2-3 { display: flex; justify-content: center; align-items: flex-start; }
.btm3_holder { display: flex; justify-content: space-between; flex-direction: column; gap: 80px; }

.btm3_holder section{position: relative;display: inline-block; vertical-align: top; max-width: 100%; width: 383px;height: auto; padding: 0 10px 0 109px;background: transparent;text-align: left;}

.btm3_holder section h2{position: relative; font-family: 'Urbanist', sans-serif;font-size: 26.5px;color: #fff;line-height: 100%;}

.btm3_holder section p{color: #fff;font-size: 17px;margin: 28px 0 0; line-height: 21px;}

.btm3_holder section a{color: #fff; text-decoration: underline;}

.btm3_holder section a:hover{color: #fff; text-decoration: none;}



.btm3_holder section h2:after{content: "";width: 50px;background: #555555;height: 1px;position: absolute;bottom: -16px; left: 0; border-radius: 15px;}



.btm3_holder section:nth-child(2)::after{content: '';width: 1px; height: 212px; background: #555555; position: absolute;left: -69px; top: 50%; transform: translateY(-50%);}

.btm3_holder section:nth-child(3)::after{content: '';width: 1px; height: 212px; background: #555555; position: absolute;left: -69px; top: 50%; transform: translateY(-50%);}



.btm3_holder section::before { content: url(images/btm3-icon1.png); position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

.btm3_holder section:nth-child(2):before { content: url(images/btm3-icon2.png); }

.btm3_holder section:nth-child(3):before { content: url(images/btm3-icon3.png); }



#bottom4{background: url(images/btm4-bg.jpg) no-repeat center/cover; max-width: 1920px; margin: 0 auto;padding: 0 25px;position: relative;}

.btm4_main { text-align: center; padding: 49px 0 40px; position: relative; min-height: 461px; }



.btm4_info{}

.btm4_info h2{position: relative;color: #fff; font-size: 20px;text-transform: uppercase;line-height: 100%;}

.btm4_info h2 span{display: block;font-family: 'Urbanist', sans-serif;font-size: 51px;font-weight: bold;margin-top: 3px;text-transform: none; line-height: 100%;}

.btm4_info p{color: #fff; margin: 39px 0 0;}





.btm4_info h2:after{content: "";width: 83px;background: #bd5851;height: 4px;position: absolute;bottom: -29px; left: 0;right: 0;margin: auto; border-radius: 15px;}





.form_btn{display: flex; justify-content: center;column-gap: 27px; flex-wrap: wrap; padding-top: 26px;}

.form_fullname,.form_email{width: 381px; height: 61px; background: #fff; border: 0; border-radius: 25px; font-family: 'Maven Pro', sans-serif; font-style: normal; font-size: 18px; color: #636262; padding: 0 25px;}

.textarea{width: 559px; height: 55px; background: #fff; overflow: auto; resize: none; border: 0;border-radius: 25px; font-family: 'Maven Pro', sans-serif; font-style: normal; font-size: 18px; color: #636262; padding: 17px 25px;}

.submitform{display: block; width: 207px; height: 66px; background: url(images/arrow4.png) no-repeat 92% center,#1C1C1C; border-radius: 34px/33px; font-family: 'Maven Pro', sans-serif; font-style: normal; font-size: 18px; color: #fff; border: 0; text-align: left; padding-left: 40px;margin: 25px 0 0;}

.submitform:hover{background: url(images/arrow4-hvr.png) no-repeat 92% center,#980A00;}





/* Form Activation Style (Recaptcha & Prompt Message) */

.captcha-box {margin: 25px 0 0;width: 242px;}

.g-recaptcha{transform: scale(.8);transform-origin: 0 0;}

#g-recaptcha-response {display: block !important;position: absolute;margin: -78px 0 0 0 !important;width: 302px !important;height: 76px !important;z-index: -999999;opacity: 0;}

#error-msg {position: fixed;z-index: 9999;border: 1px solid;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}

#error-msg .message {border: 1px solid;width: 500px;margin: 9% auto;background: #fff;position: relative;padding: 188px 10px 25px 10px;border-radius: 20px;max-width: 95%;}

#error-msg .message span:nth-child(1){font-weight: bold;color: #ca4b4b;font-size: 25px;line-height: 20px;}

#g-recaptcha-response .message span:nth-child(1) {font-weight: 900;color:  #ca4b4b;font-size: 32px;line-height: 40px;}

#success {position: fixed;z-index: 9999;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}

#recaptcha-error{position: fixed;z-index: 9999;border: 1px solid;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}

.message {border: 1px solid;width: 500px;margin: 9% auto;max-width: 95%;border-radius: 20px;padding: 188px 10px 25px 10px;background: #fff;position: relative;}

.message span:nth-child(1) {font-weight: 900;color: #31af90;font-size: 26px;line-height: 27px;}

.message span:nth-child(3) {font-size: 25px;line-height: 30px;color: #000;}

.message span:nth-child(5) {line-height: 40px;font-size: 18px; color: #000;}

.close, .rclose, .error-close { position: absolute; right: 24px; top: 10px; font-size: 30px; font-family: open sans; cursor: pointer;color: #333 !important; }

#error-msg p, #success .message p{font-size: 30px !important;}

.fail-check::after {content: url('images/wrong-icon.png');position: absolute;  left: 0; right: 0; top: 30px; } 

.success-check:after{content:url('images/success-icon.png'); position: absolute;left: 0;right: 0;top: 30px;}

#invalid-msg {display: none; background: #fcecec; padding: 10px; color: #ca4b4b; font-weight: bold;  margin-bottom: 20px; font-size: 14px;}

/* End Form Activation Styling */



/*end bottom*/



/*footer*/

footer{}



.ftr_map { width: 100%; height: 392px; }

.ftr_map iframe{width: 100%; height: 100%;}



.footer_top{background: #fff; padding: 0 25px;position: relative;}

.footer_top_main{position: relative; padding: 187px 0 90px; min-height: 476px;}

.contact_info{max-width: 100%; width: 716px;float: right;}

.contact_info h2{}

.contact_info h2 span{display:block;}

.contact_info ul{}

.contact_info ul li{position: relative; display:inline-block; vertical-align:top; white-space:pre-line;padding-top: 66px; font-size: 16px; text-align: left;line-height: 18px;}

.contact_info ul li::before{content: url(images/ftr-icon1.png);position: absolute;left: 0;top: -6px;}

.contact_info ul li:nth-child(2):before{content: url(images/ftr-icon2.png);}

.contact_info ul li:nth-child(3):before{content: url(images/ftr-icon3.png);}

.contact_info ul li a{color:#333333;}

.contact_info ul li a[href^="tel:"] {color: inherit;}

.contact_info ul li a:hover{text-decoration:underline;}

.contact_info ul li mark{color:#333333;}

.contact_info ul li address{}



.contact_info ul li:nth-child(2){margin: 0 45px 0 53px;}



.footer_logo{max-width: 100%; width: 493px; text-align: left;}

.footer_logo img{width: 350px;}

.footer_logo p{margin: 35px 0 0;}



.footer_nav { position: absolute; left: 0; right: 0; top: -40px; border-radius: 60px; background: linear-gradient(0deg, #DA291C -21%, #980A00 91%); }

.footer_nav ul{margin: auto 0; padding: 0; text-align: center; list-style: none; }

.footer_nav ul li{display: inline-block;position: relative;margin: 0 58px; text-align: center;}

.footer_nav ul li:first-child{margin-left: 0;}

.footer_nav ul li:last-child{margin-right: 0;}

.footer_nav ul li a { display: block; font-size: 20px; color: #fff; line-height: 63px; }
.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{ text-decoration:underline;}

.footer_nav ul li a small{display: block;}



.copyright{font-size: 20px; color: #333333; position: absolute; left: 335px; right: 0; text-align: center; bottom: 116px;}

.copyright a{color:inherit;}

.copyright a:hover{text-decoration:underline;}

.copyright span{}

.copyright q{}



/**Resources**/

.resources {margin-top:10px;}

.resources a { display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;text-decoration: none!important;}

/* .resources a:hover {padding-left:2px; text-decoration: none!important;} */

.resources ul,.resources li {list-style-type:none; margin:0; padding:0; }

.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #000; transition: 0.4s all ease;}

.resources ul li:hover {box-shadow: 0 0.5em 0.5em -0.4em #bf1d11; transform: translateY(-0.25em);}

.resources ul li:before{content:"";}

.resources ul li:after{content:"";}

.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; }



/* IE 8 */

.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}

.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}

.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}

.inner-message img{position:relative;left:3em}

.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}

.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}

.terms a{color:#fff;font-weight:700}

.lt-ie8 .protect-me{display:none}



/* Sitemap Style */

.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}

.sitemap li {counter-increment: step-counter; overflow: hidden;}

.sitemap li{padding:5px 15px; background: #E3E3E3;}

.sitemap li:nth-child(odd){background: #F2F2F2;}

.sitemap li a{display: block;}

.sitemap li a:before {content: counter(step-counter) '. ';}



/* Pages under Certain Parent Pages */

.sitemap ul {margin-top: 5px;}

.sitemap ul li:nth-child(odd){background: #E3E3E3;}

.sitemap ul li:nth-child(even){background: #F2F2F2;}

.sitemap ul li {counter-increment: sub-counter;}

.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}



/* Breadcrumb Styling */

#breadcrumbs {margin: 0 0 35px; border-bottom: 2px dotted gray; padding-bottom: 10px; overflow: hidden;text-overflow: ellipsis;}

#breadcrumbs span{vertical-align: bottom;display: inline-block;}

#breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;}

#breadcrumbs span[property='name']:hover{text-decoration: underline;}

#breadcrumbs .post {background:transparent!important;border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}

#breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;max-width: 250px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* End Breadcrumb Styling */





/* Non-home Style */

.non_ban {position: relative;}

.non_ban figure{width: 1920px; position: relative; left: 50%; transform: translateX(-50%);}

.non_ban figure img{height: auto;}

.page_title{text-align: center;width: 100%;z-index: 2;position: relative;bottom: 0;font-size: 45px; font-weight:bold; line-height: 100%;text-transform: uppercase;padding: 10px;background:#da291c;color: #fff;}

.page_title:before{position: absolute; content: ""; width: 273px; height: 100%; top: 0; left: -273px; background: inherit;}

.page_title:after{position: absolute; content: ""; width: 273px; height: 100%; top: 0; right: -273px; background: inherit;}



.FormReq {box-shadow: 0 0 3px red!important; border: 1px solid red!important;}



.intro_txt{margin: 15px auto 45px; padding: 12px; font-size: 30px; font-weight: bold; text-align: center; position: relative; color: #000; width: 80%; border-bottom: 3px solid #da291c;}



.nh_heading1 {font-size: 25px; font-weight: bold; margin-bottom: 10px;}

.nh_heading2 {font-size: 23px; font-weight: bold; margin-bottom: 6px;}



.nh_mv { display: flex; justify-content: center; margin: 30px auto 50px; text-align: center; clear: both; overflow: hidden; position: relative; }

.nh_mv div { margin: 15px; width: 100%; padding: 40px 25px; border: 2px solid #bf1d11; border-radius: 13px;}

.nh_m h5 { font-weight: 700; font-size: 35px; line-height: 100%; color: #1a1100; margin-bottom: 20px; position: relative; text-transform: none; }

.nh_v h5 { font-weight: 700; font-size: 35px; line-height: 100%; color: #1a1100; margin-bottom: 20px; position: relative; text-transform: none; }

.nh_m h5::before { content:''; background: url(images/mission.jpg); display: block; text-align: center; margin-bottom: 10px; position: static; width: 100px; height: 100px; background-size: cover; margin: auto;}

.nh_v h5::before { content:''; background: url(images/vision.jpg); display: block; text-align: center; margin-bottom: 10px; position: static;  width: 100px; height: 100px; background-size: cover; margin: auto;}





/* SERVICE LIST 1 */

a, a span{text-decoration: none;-webkit-transition: all .3s linear;transition: all .3s linear;}

.serv_list {margin:25px auto; text-align:center;}

.serv_list ul li {overflow: hidden;position: relative;text-align: center;max-width: 400px;padding: 0 !important;width:30%;display: inline-block;vertical-align: top;margin: 0 10px 20px;background: #fff;}

.serv_list ul li img {display: block;width: 100%;transition: all .4s ease;}

.serv_list ul li a {text-decoration: none;font-size: 20px;font-weight: bold;text-align: center;width: 100%;display: block;height: 100%;position: absolute;top: 0;left: 0;}

.serv_list ul li a span {-webkit-transition: all .3s linear;transition: all .3s linear;background:  #1a1100;color: #fff;font-size: 16px;width: 95%;padding: 13px 10px;position: absolute;line-height: 100%;left: 50%;bottom: 5px;-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);transform: translateX(-50%);line-height: 100%; font-family: 'Urbanist', sans-serif;}

.serv_list ul li a:hover span{bottom: -50px;}

.serv_list ul li:hover img{transform: scale(1.2); -webkit-transform:scale(1.2); }

.serv_list ul li a::before {z-index: 99;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #bf1d11;content: '';-webkit-transition: -webkit-transform 0.6s;transition: transform 0.6s;-webkit-transform: scale3d(3,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);transform: scale3d(3,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);}

.serv_list ul li a:hover:before{-webkit-transform: scale3d(3,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);transform: scale3d(3,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);}



/* END OF  SERVICE LIST 1 */





.accord {margin:20px auto;}

.accord h6{padding:10px 10px 10px 50px;background:#fff;color:#000;font-weight: 500;font-size:16px;margin:0 0 5px;border:1px solid #da291c;cursor:pointer;position:relative;}

.accord div{display:none;background:#FAFDFE;padding:20px 10px;margin:5px 0; font-weight: 500;border-left:2px solid #da291c;position:relative;}

.accord h6:before{content:"+";width:30px;height:30px;color:#fff;border-radius:5px;background:#da291c;display:inline-block;vertical-align:middle;text-align:center;line-height:30px;position:absolute;top:50%;left:10px;transform:translate(0,-50%);-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);}

.accord .sign:before{content:"-"!important;line-height:25px;}









.serv_list_5 ul{display: flex; justify-content: space-evenly; gap: 40px; flex-wrap: wrap;}

.serv_list_5 ul li{position: relative; height: auto; max-width: 314px; width: 31%; }

.serv_list_5 ul li figure{ border-radius: 50px; position: relative; padding-top: 100%; outline: 8px solid #da291c; transition: all .3s ease;}

.serv_list_5 ul li figure img{position: absolute; object-fit: cover; width: 100%; height: 100%; left: 0; top: 0; object-position: center; border-radius: inherit;}

.midbox_icon {display: none; position: absolute; z-index: 1; border-radius: 50%; text-align: center; background-color: black; width: 34px; height: 34px; left: 50%; color: var(--white); transform: translateX(-50%); bottom: -23px;} 

.serv_list_5 ul li h2{font-size: 32px; font-weight: bold; text-align: center; margin-top: 50px; line-height: 1;font-family: 'Urbanist', sans-serif; transition: all .3s ease;}

.serv_list_5 ul li a{position: absolute; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; }

.serv_list_5 ul li:hover h2{ color: #da291c;}

.serv_list_5 ul li:hover figure{transform: scale(1.1);}

.testimonialreq{box-shadow: 0 0 3px #d92800 !important; border: 1px solid #d92800 !important;}






.scroll-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .horizontal-wrapper {
    display: flex;
    /* width: 400vw; */
    /* height: 100vh; */
    flex-wrap: nowrap;
    width: max-content
  }

  .section {
    flex: 0 0 100vw;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: #f0f0f0;
    /* border-right: 1px solid #ccc; */
    padding: 50px 0;
  }

  .character-wrapper {
    position: fixed;
    bottom: 40px;
    left: 50px;
    width: 100px;   /* width of one frame */
    height: 150px;  /* height of one frame */
    overflow: hidden;
    z-index: 999;
  }

  .sprite {
    width: 400px;   /* full width of the sprite sheet */
    height: 300px;  /* full height of the sprite sheet */
    background: url('https://i.snipboard.io/v6JNLl.jpg') left top no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }


